.dv{
  height: 130px;
  width: 100px;
  margin: 50px 10px;

  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

.dv:nth-child(odd){
  background-color: aquamarine;
}

.dv:nth-child(even){
  background-color: aqua;
}


.wow {
  width:400px;
}